/* src/styles/tipo-cambio.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .content {
    text-align: center;
    border: 1px solid #623c3c;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    font-weight: bold;
  }
  